**Metin Madenciliği**,metinsel verilerin incelenmesi, analiz edilmesi, yapılarının bulunması, paternlerinin bulunması, veri görselleştirmesi, kümeleme gibi analizler kullanılarak belgelerin kümelenmesi, modelleme çalışmaları yapılması gibi açıklanabilir.**Doğal Dil İşleme** ise metin madenciliğinin bir bileşenidir.Bilgiyarların insanlar gibi metinleri anlayabilmesini sağlamakla uğraşan bilim dalı diye ifade edebiliriz.Metinlerin içerisindeki zarf,sıfat,tamlama vb. şeylerin tanımlanması, cümlelerin tanımlanamsı, bir yazının kategorisinin tanımlanması ve betimlenmesi gibi buna benzer bazı amaçlarla kullanılmaktadır.

## Metin Ön İşleme

In [67]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

Var olan bir metin üzerinde bölme işlemi yaparak her birini bir vektör haline getirelim.

In [68]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [69]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [70]:
v_metin = metin.split("\n")

In [71]:
# Pandas serisine çevirme
import pandas as pd
v = pd.Series(v_metin)

In [72]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [73]:
# Index Düzeltme
metin_vektoru = v[1:len(v)]

In [74]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

**Bazı analitik işlemler yapabilmek için metin vektörünü bir Pandas DataFrame'e çevirmemiz gerekmektedir.**

In [75]:
mdf = pd.DataFrame(metin_vektoru, columns = ["roman_isimleri"])

In [76]:
mdf

                           roman_isimleri
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük Harf Dönüşümü

In [77]:
d_mdf = mdf.copy()

In [78]:
d_mdf

                           roman_isimleri
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

Her bir gözlem içindeki ifadeleri küçük harfe çevireceğiz.

In [79]:
d_mdf["roman_isimleri"].apply(lambda x : " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: roman_isimleri, dtype: object

 * **for** döngüsü ile her bir satırın elemanları gezdik ve **split ile parçaladık.
 * **lower** ile hepsini küçük harfe dönüştürdük.
 * **join** ile birleştirme işlemi gerçekleştirdik.

In [80]:
d_mdf = d_mdf["roman_isimleri"].apply(lambda x : " ".join(x.lower() for x in x.split()))

In [115]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: roman_isimleri, dtype: object

## Noktalama İşaretlerinin Silinmesi

In [61]:
d_mdf

                           roman_isimleri
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [27]:
type(d_mdf)

pandas.core.series.Series

In [81]:
d_mdf = d_mdf.str.replace("[^\w\s]","")   # [^\w\s] ifadesi noktalama işaretlerini temizler.

In [14]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: roman_isimleri, dtype: object

## Sayıların Silinmesi

In [82]:
d_mdf = d_mdf.str.replace("\d","")    # \d ifadesi sayıları temizler.

In [83]:
d_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: roman_isimleri, dtype: object

## Stopwords'lerin Silinmesi

**Stopwords**, durma kelimeleri gibi ya da sık kullanılan kelimeler olarak düşünülebilir.

Bizim örneğimizde **the** ve **with** gibi. 

Bu işlemleri gerçekleştirebilmek bilmek için kütüphane kurulumu yapmamız gerekir.

In [84]:
# DataFrame temelli işlme yapcağımızdan dolayı dönüştürme işlemi yapıyoruz.
d_mdf = pd.DataFrame(d_mdf, columns = ["roman_isimleri"])

In [34]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (1.12.0)

In [19]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Şimdi bu stopwords'lar içerisinden İngiliz diline ait olanları alacağız.

In [85]:
from nltk.corpus import stopwords

In [86]:
sw = stopwords.words("english")

In [87]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [88]:
d_mdf["roman_isimleri"].apply(lambda x : " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: roman_isimleri, dtype: object

**--** Kod kısmında belirli bir stopword listesi içerisinde sorgulama işlemi yapıp eğer bu liste ile örtüşmüyorsa bunu al, eğer örtüşüyorsa bunu alma işlemini gerçekleştirdik.

In [89]:
d_mdf = d_mdf["roman_isimleri"].apply(lambda x : " ".join(x for x in x.split() if x not in sw))

In [90]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: roman_isimleri, dtype: object

## Az Geçen Kelimelerin Silinmesi

In [91]:
d_mdf = pd.DataFrame(d_mdf, columns = ["roman_isimleri"])

In [92]:
pd.Series(" ".join(d_mdf["roman_isimleri"]).split()).value_counts()

adventure    6
boscombe     1
copper       1
carbuncle    1
speckled     1
thumb        1
five         1
scandal      1
valley       1
redheaded    1
twisted      1
identity     1
pips         1
case         1
orange       1
coronet      1
noble        1
engineers    1
mystery      1
lip          1
man          1
beryl        1
bohemia      1
blue         1
bachelor     1
band         1
beeches      1
league       1
dtype: int64

Bizim veri setimizi için uygun olmasa da örneğin en az değere sahip olduğunu düşündüğümüz sondan 3 değeri alarak silme işlemi yapalım.

In [93]:
pd.Series(" ".join(d_mdf["roman_isimleri"]).split()).value_counts()[-3:]

band       1
beeches    1
league     1
dtype: int64

In [94]:
sil = pd.Series(" ".join(d_mdf["roman_isimleri"]).split()).value_counts()[-3:]

In [95]:
d_mdf["roman_isimleri"].apply(lambda x : " ".join(x for x in x.split() if x not in sil))

1               scandal bohemia
2                     redheaded
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8            adventure speckled
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: roman_isimleri, dtype: object

## Tokenization

**Cümleyi kelimelere ayırmak yani yeni bir vektör oluşturmak, liste oluşturmak gibi düşünebiliriz.**

In [130]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [131]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
Requirement already satisfied: nltk>=3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [31]:
import textblob

In [32]:
from textblob import TextBlob

In [96]:
# ilk sıradaki kitabın ismini kelimelere ayıklamak
TextBlob(d_mdf["roman_isimleri"][1]).words

WordList(['scandal', 'bohemia'])

In [97]:
# tüm veri seti uygulamak
d_mdf["roman_isimleri"].apply(lambda x : TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: roman_isimleri, dtype: object

## Stemming

**Bir kelimeyi köklerine ayırmayı/köküne indirgemeyi ifade etmektedir.**

In [98]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [99]:
d_mdf["roman_isimleri"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: roman_isimleri, dtype: object

## Lemmatization

In [37]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [100]:
d_mdf["roman_isimleri"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: roman_isimleri, dtype: object

## İlk Durum - Son Durum Karşılaştırması

In [101]:
mdf["roman_isimleri"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: roman_isimleri, dtype: object

In [102]:
d_mdf["roman_isimleri"][0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5           five orange pips
Name: roman_isimleri, dtype: object

## NLP Uygulamaları

### N-Gram

**Tanım:** N-Gram,birlikle kullanılan kelimelerin kombinasyonlarını gösterir.

In [5]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

### Part of Speech Tagging(POS)

**Tanım:**Metinde bulunan kelimelerin isim,sıfat ve zarf olma durumlarını tespit etmek için kullanılmaktadır.

In [7]:
import nltk
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [41]:
# 2.sıradaki kitabın durumu
TextBlob(d_mdf["roman_isimleri"][2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [42]:
# Bütün satır ve kelimelere uygulamak
d_mdf["roman_isimleri"].apply(lambda x : TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: roman_isimleri, dtype: object

### Chunking(Shallow Parsing)

Çıkartılan isim,sıfat ve zarf gibi bilgileri bir diagram ile göstermek için kullanılır.

In [43]:
pos = d_mdf["roman_isimleri"].apply(lambda x : TextBlob(x).tags)

In [44]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: roman_isimleri, dtype: object

Buradaki her bir satırı metin olarak kabul edeceğiz ama bunları çok kısa ve anlamsız.

In [45]:
# R ve Python kullanışlı veri bilimi araçlarıdır.Yeni yada eski veri bilimcileri bu görevlerini etkili bir şekilde yapma isteğinde olanlardır.
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [49]:
pos = TextBlob(cumle).tags

In [50]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [51]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [52]:
sonuclar = rp.parse(pos)

In [54]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [55]:
sonuclar.draw()

### Named Entity Recognition

Verilen metinlerin içerisindeki tanımlama işlemlerini gerçekleştirir.POS'da yapısal anlamda kelimelerin ne olduğu bilgisi verilmiştir fakat burada ise örneğin bir kelime nesne olarak tanımlı ve bize bu nesnenin ne olduğunu söylemektedir.

In [56]:
# Gerekli kütüphanelerin kurulması ve import edilmesi
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [59]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

## Matematiksel İşlemler ve Basit Özellik Çıkarımı

### Harf/Karakter Sayısı

In [103]:
oc_df = d_mdf.copy()

In [105]:
oc_df["roman_isimleri"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: roman_isimleri, dtype: object

**Amacımız her bir gözlem biriminin temsil edecek bir nümerik değer oluşturmaktır.**

In [107]:
oc_df["roman_isimleri"].str.len()

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: roman_isimleri, dtype: int64

In [110]:
# Harf sayılarını sütun olarak veri setine eklemek
oc_df["harf_sayisi"] = oc_df["roman_isimleri"].str.len()

In [111]:
oc_df

               roman_isimleri  harf_sayisi
1             scandal bohemia           15
2            redheaded league           16
3               case identity           13
4     boscombe valley mystery           23
5            five orange pips           16
6             man twisted lip           15
7    adventure blue carbuncle           24
8     adventure speckled band           23
9   adventure engineers thumb           25
10   adventure noble bachelor           24
11    adventure beryl coronet           23
12   adventure copper beeches           24

### Kelime Sayısı

In [112]:
a = "scandal in a bohemia"

In [113]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [114]:
len(a.split())

4

In [115]:
# Tüm veri seti için kelime sayma
oc_df["roman_isimleri"].apply(lambda x : len(str(x).split(" ")))

1     2
2     2
3     2
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
Name: roman_isimleri, dtype: int64

In [116]:
# Kaydetme ve veri setine ekleme
oc_df["kelime_sayisi"] = oc_df["roman_isimleri"].apply(lambda x : len(str(x).split(" ")))

In [117]:
oc_df

               roman_isimleri  harf_sayisi  kelime_sayisi
1             scandal bohemia           15              2
2            redheaded league           16              2
3               case identity           13              2
4     boscombe valley mystery           23              3
5            five orange pips           16              3
6             man twisted lip           15              3
7    adventure blue carbuncle           24              3
8     adventure speckled band           23              3
9   adventure engineers thumb           25              3
10   adventure noble bachelor           24              3
11    adventure beryl coronet           23              3
12   adventure copper beeches           24              3

### Özel Karakterleri Yakalamak & Saydırmak

In [118]:
# Adventure kelimesini özel karakter olarak kullanmak
oc_df["roman_isimleri"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: roman_isimleri, dtype: int64

Yukarıda ki kod kısmıda yaptığımız işlem;
 * Her bir gözlem birimini split et 
 * Eğer adventure ile başlıyorsa seç
 * Seçtiklerinin sayısını len ile ver

In [120]:
# Kaydetme ve veri setin ekleme
oc_df["ozel_karakter_sayisi(adventure)"] = oc_df["roman_isimleri"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [121]:
oc_df

,roman_isimleri,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi(adventure)
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineers thumb,25,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1